/*

This is a Tutoralzine Demo 
Original tutorial: A simple AJAX website with jQuery
Tutorial URL: http://tutorialzine.com/2009/09/simple-ajax-website-jquery/

You are free to use the following demo code for any purpose you see fit.

*/


/* Page styles */

body,h1,h2,h3,p,td,quote,small,form,input,ul,li,ol,label{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
}

body{
	margin-top:20px;
	color:#51555C;
	font-size:13px;
	background-color:#123456;
	text-align:center;
}

.left{
float: left;
margin-right: 50px;
padding: 0px 0px 0px 0px;
}

.right{
float: right;
width: 200px;
padding: 0px 30px 0px 0px
}

#radio2{
	width:100%;
}

#dashboard{
	padding: 0px 10px 0px 0px;
	float:left;
}
#chartcontainer{
	margin-right: 10px;
	float:right;
	padding: 5px 5px 5px 5px;
	margin-right: 10px;
}

.menu{
float: left;
margin-right: 50px;
padding: 0px 0px 0px 0px;
}

.spacer10{
padding: 0px 0px 5px 0px
}

#logo{
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	margin: 0px;
	padding: 20px 10px 0px;
}
.textfield {
	font-size: 11px;
	color: #333333;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	padding-left: 1px;
}

.newuser{
	text-align:center;
	padding: 15px 0px 0px 0px;
}

.clear{
	clear:both;
}

a, a:visited {
	color:#007bc4;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

#rounded{
	width:800px;
	margin:20px auto;
	text-align:left;
}

.container{
	overflow:auto;
	background-color:#FFFFFF;
	padding:10px 20px 20px 20px;
}

h1{
	font-size:28px;
	font-weight:bold;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
}

h2{
	font-weight:normal;
	font-size:20px;
	
	color:#999999;
}

ul{
	margin:30px 0px;
}

ul2{
	margin:30px 0px;
}

li{
	list-style:none;
	display:block;
	float:left;
	/*width:80px*/;
}

li a,li a:visited{
	padding:5px 10px;
	text-align:center;
	background-color:#000033;
	color:white;
	
	-moz-border-radius:5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;

	display:block;
	margin-right:10px;
}

li a:hover{
	background-color:#666666;
	text-decoration:none;
}

#pageContent{
	margin-top:20px;
	overflow:auto;
	border:1px dashed #cccccc;
	padding:10px;
		
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#loading{
	visibility:hidden;
}

.demo{
	color:white;
}

input{
padding: 1px 6px;
}
p {
  text-indent : 20px;
  text-align:justify;
  text-justify:inter-word;
}